
.hero-container {
   justify-content: center;
  align-items: center;
  flex-wrap: wrap-reverse;
}
.section-hero {
  padding: 4% 0;
    transform: translate3d(0,0,0);
    -webkit-backface-visibility: visible;
    backface-visibility: visible;
}

.hero-content-wrapper {
  flex:1;
}

.hero-content {
  align-items: center;
  justify-content: flex-start;
  padding: 2rem;
  gap: 24px;
}

.hero-heading {
  flex-direction: column;
  align-items: flex-start;
  margin-top: 0;
  margin-bottom: 0;
  line-height: 120%;
  display: flex;
}

.hero-subtitle {
  padding: 1rem;
}
