
.imageWrapper{
    margin-bottom: 10px;
    max-height: 75vh;
    border-radius: 25px;
    overflow: hidden;
}
.image{
        object-fit: cover;
        height: min-content;
}
.skills{
    display: flex;
    flex-wrap: wrap;
    gap: 8px;
}
.body {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 48px;
    margin-bottom: 40px;
    aside {
        flex: 1;
        padding: 20px;
        display: flex;
        flex-direction: column;
        gap: 10px;
    border-radius: 25px;
    }
    section {
        flex: 2;
        p {
            font-size: var(--text-lg);
        }
    }
}