.project {
}
.imageWrapper{
    margin-bottom: 10px;
    img {
            border-radius: 25px;

        }
}
.skills{
    display: flex;
    flex-wrap: wrap;
    gap: 8px;
}
.body {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 10px;
    

    aside {
        flex: 1;
        padding: 20px;
        display: flex;
        flex-direction: column;
        gap: 10px;
    border-radius: 25px;
        /* border-radius: 25px;
    backdrop-filter: blur(5px);
    background: radial-gradient(
      rgb(from var(--color-blue-400) r g b / 0.5) calc(99% - 1px),
      rgb(from var(--color-blue-500) r g b / 0.6) calc(100% - 1px) 99%,
      rgba(255, 255, 255, 0)
    );
    outline: 1px solid rgba(255, 255, 255, 0.3);
    outline-offset: -1px; */
    }
    section {
        flex: 2;
    }
}
