    .wrapper-hero{
        display: flex;
        align-items: center;
        flex-wrap: wrap;
        justify-content: center;
        margin: 8px;
    }
    .text{
        text-align: left;
        padding: 4px 16px;
    }
    .img-wrapper{
          max-width: 50%;
    }
    .image {
          object-fit: contain;
    }
    .textGradient {
        --gradientColor: linear-gradient(
          132deg,
          #219ebc 15%,
          #64ae43 42%,
          #ffb703 56%
        );
      }
      .textGradient {
        background-image: var(--gradientColor);
        -webkit-text-fill-color: rgba(255, 255, 255, 0);
        -webkit-background-clip: text;
        background-clip: text;
      }