
.hero-container {
   justify-content: center;
  align-items: center;
  flex-wrap: wrap-reverse;
}
.section-hero {
  margin-left: auto;
  margin-right: auto;
  padding: 4% 0;
}

.hero-content-wrapper {
  flex:1;
  margin-left: 20px;
  margin-right: 20px;
}

.hero-content {
  align-items: center;
  justify-content: flex-start;
  padding: 2rem;
  gap: 24px;
}

.hero-heading {
  flex-direction: column;
  align-items: flex-start;
  margin-top: 0;
  margin-bottom: 0;
  line-height: 120%;
  display: flex;
}

.hero-subtitle {
  padding: 1rem;
}
