
.hero-container {
   justify-content: center;
  align-items: center;
}
.section-hero {
  min-height: 100%;
  margin-left: auto;
  margin-right: auto;
  padding: 8% 0;
}

.hero-content-wrapper {
  max-width: 40rem;
  margin-left: auto;
  margin-right: auto;
}

.hero-content {
  align-items: center;
  justify-content: flex-start;
  padding: 1rem;
  gap: 24px;
}

.hero-heading {
  flex-direction: column;
  align-items: flex-start;
  margin-top: 0;
  margin-bottom: 0;
  line-height: 120%;
  display: flex;
}
