.link-container {
  font-size: inherit;
  display: inline-block;
  font-weight: 600;
  margin: 0px;
  padding: 0px;
}

.link-text {
  line-height: inherit;
  color: inherit;
  text-decoration: none;
}

.link-container:hover{
  border-bottom: black solid 2px;
}

.button{
    background-color: #219ebc;
  min-width: 200px;
  border-radius: 8px;
  justify-content: center;
  align-items: center;
  height: 52px;
  padding: 8px 24px;
  font-size: 16px;
  font-weight: 700;
  transition: background-color .2s;
  display: flex;
	a {
		color: white;
	    text-decoration: none;
	}
}

.button:hover{
	background-color:  #ffb703;
	border-bottom: none;
}