.badge{
    width: fit-content;
    padding: 4px 12px;
    border-radius: 24px;
    border: 1.5px solid var(--color-blue-950);
   box-shadow: 1.5px 2.5px 0 1px var(--color-blue-950);
    background-color: oklch(from var(--color) l 40% h );
}

.badge i {
    color: var(--color-blue-950);
    vertical-align: middle;
    margin-right: 4px;
    font-weight: 400;

}