.textGradient {
  --gradientColor: linear-gradient(
    132deg,
    #219ebc 15%,
    #64ae43 42%,
    #ffb703 56%
  );
}
.textGradient {
  background-image: var(--gradientColor);
  -webkit-text-fill-color: rgba(255, 255, 255, 0);
  -webkit-background-clip: text;
  background-clip: text;
}
